<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<!-- Import the libraries: jQuery, d3, d3.slider -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="static/d3.slider.js"></script>
<link rel="stylesheet" href="static/d3.slider.css" />

<!-- My own css and js -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
<link href="static/css/mystyle.css" rel="stylesheet">
<style>

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

</style>
</head>
<body class="container">
<h1 id="graphTitle">Ad-Hoc Classifier for Python 2 and 3 <br>
  - Random Forest Illustration</h1>
<p id="graphNote">Notes:<br>&emsp;The left leaf is stacked on top of the corresponding right leaf<br>&emsp;Source code based on https://bl.ocks.org/mbostock/1093025</p>

<div id="sliders" class="wrapper">

  <h3 class="feature">Tree Number: <span id="treeNums">0</span></h3>
  <div id="tree_slider">
  <script>

  var current_tree = 0;
    d3.select('#tree_slider')
      .call(
        d3.slider()
          .value(current_tree)
          .min(0)
          .max(40)
          .step(1)
          .axis(d3.svg.axis().orient("bottom").ticks(8) )
          .on("slide", function(evt,value) {
            d3.select('#treeNums').text(value);
            current_tree = value;
            // GetTreeData(current_tree)
          })
          .on("slideend", function(evt,value) {
            // d3.select('#treeNums').text(value);
            // current_tree = value;
            GetTreeData(current_tree)
          }
          )
    );
  </script>

  </div>

</div>

<!-- plot the tree -->
<div id="tree_area">
  <div id="mytree"></div>

<script>

var margin = {top: 30, right: 20, bottom: 30, left: 20},
    width = 960 - margin.left - margin.right,
    barHeight = 35,
    barWidth = width * .8;

var i = 0,
    duration = 400,
    root,
    jsondata;

var tree = d3.layout.tree()
    .nodeSize([0, 20]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("#mytree").append("svg")
    .attr("width", width + margin.left + margin.right)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

function GetTreeData(treeNum){
  $.ajax({
    type: "POST",
    contentType: "application/json; charset=utf-8",
    url: "/draw_tree",
    dataType: "json",
    async: true,
    data: "{\"treeparams\": ["+treeNum+"]}",
    // data: "{\"example\": ["+age+","+year+","+nodes+"]}",
    //   var chance = 100 * data["score"];
    //   d3.select("#chancebar")
    //     .attr("width", chance_scale(chance));
    //   d3.select("#percent_text")
    //     .attr("x", chance_scale(chance-5))
    //     .text(chance.toFixed(1) + "%");
    success: function (data) {
      // console.log(data);
      jsondata = data;
      jsondata.x0 = 0;
      jsondata.y0 = 0;
      update(root = jsondata);
    },
    error: function (result) {
    }
  })
}

// d3.json("static/tree.json", function(error, jsondata) {
//   if (error) throw error;
//
//   jsondata.x0 = 0;
//   jsondata.y0 = 0;
//   update(root = jsondata);
// });


function update(source) {

  // Compute the flattened node list. TODO use d3.layout.hierarchy.
  var nodes = tree.nodes(root);


  var height = Math.max(500, nodes.length * barHeight + margin.top + margin.bottom);

  // $('#tree_area').animate({height: height + 'px', duration: 'slow'})

  d3.select("#mytree > svg").transition()
      .duration(duration)
      .attr("height", height);

  d3.select(self.frameElement).transition()
      .duration(duration)
      .style("height", height + "px");

  // Compute the "layout".
  nodes.forEach(function(n, i) {
    n.x = i * barHeight;
  });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .style("opacity", 1e-6);

  // Enter any new nodes at the parent's previous position.
  nodeEnter.append("rect")
      .attr("y", -barHeight / 2)
      .attr("height", barHeight)
      .attr("width", barWidth)
      .style("fill", color)
      .on("click", click);

  nodeEnter.append("text")
      .attr("dy", 7.0)
      .attr("dx", 5.5)
      .text(function(d) { return d.feat; });

  // Transition nodes to their new position.
  nodeEnter.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
      .style("opacity", 1);

  node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
      .style("opacity", 1)
    .select("rect")
      .style("fill", color);

  // Transition exiting nodes to the parent's new position.
  node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .style("opacity", 1e-6)
      .remove();

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(tree.links(nodes), function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      })
    .transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
}

function color(d) {
  return d._children ? "#3182bd" : d.children ? "#c6dbef" : "#fd8d3c";
}

</script>

</div>
</body>
<html>
